@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

*{
    margin: 0%;
    padding: 0%;
    
}





.playScreen{
    position: relative;
    top: 100px;
    left: 500px;
    width: 50%;
    height: 700px;
    background: linear-gradient(315deg, rgb(170, 46, 46) 20%, rgb(218, 91, 40) 74%);
    border-radius: 19px;
    box-shadow:  3px 15px 30px rgb(7, 7, 7);
}
.backG{
    background-image: url('/img/foto5.png');
    position: relative;
    left: 19%;
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.playBox{
    position: relative;
    left: 30%;
    top: 25%;
}
.playBox button{
    font-family: 'Hina Mincho';
    color: white;
    font-size: 20px;
    border-radius: 30px;
    border-style: none;
    background-color: #333;
    position: relative;
    right: 40%;
    width: 150px;
    height: 50px;
    top: 30px;
    box-shadow: 0px 3px 15px rgb(3, 3, 3);
}
.playBox button:hover{
    background: linear-gradient(315deg, rgb(218, 91, 40) 20%, rgb(170, 46, 46) 74%);
    cursor: pointer;
    box-shadow: 0px 3px 15px rgb(255, 255, 255);
    color: black;
    
} 

#modalGame{
    position: absolute;
    background-image: url('/img/tabuleiro.png');
    background-repeat: no-repeat;
    display: none;
    width: 80%;
    height: 90%;
    border-radius: 9px;
    left: 29%;
    bottom:60px ;
}
#close{
    position: relative;
    left: 45%;
    top: 90px;
    cursor: pointer;
    font-size: 40px;
}
.table {
    position: relative;
    left: 120px;
    top: 100px;
    width: 100%;
}
.cards{
    display: inline-block;
    padding: 10px;
background-color: #ccc5c5;
margin: 10px;
border-radius: 50%;
width: 150px;
height: 150px;
}