@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

*{
    margin: 0%;
    padding: 0%;
    
}





.playScreen{
    position: relative;
    top: 100px;
    left: 500px;
    width: 50%;
    height: 700px;
    background: linear-gradient(315deg, rgb(170, 46, 46) 20%, rgb(218, 91, 40) 74%);
    border-radius: 19px;
    box-shadow:  3px 15px 30px rgb(7, 7, 7);
}
.backG{
    background-image: url('/img/foto5.png');
    position: relative;
    left: 19%;
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.playBox{
    position: relative;
    left: 30%;
    top: 25%;
}
.playBox button{
    font-family: 'Hina Mincho';
    color: white;
    font-size: 20px;
    border-radius: 30px;
    border-style: none;
    background-color: #333;
    position: relative;
    right: 40%;
    width: 150px;
    height: 50px;
    top: 30px;
    box-shadow: 0px 3px 15px rgb(3, 3, 3);
}
.playBox button:hover{
    background: linear-gradient(315deg, rgb(218, 91, 40) 20%, rgb(170, 46, 46) 74%);
    cursor: pointer;
    box-shadow: 0px 3px 15px rgb(255, 255, 255);
    color: black;
    
} 

#modalGame{
    position: absolute;
    background-image: url('/img/tabuleiro.png');
    background-repeat: no-repeat;
    display: none;
    width: 80%;
    height: 90%;
    border-radius: 9px;
    left: 29%;
    bottom:60px ;
    
}
#close{
    font-family: 'Hina Mincho';
    border-style: none;
    border-radius: 50%;
    position: relative;
    left: 45%;
    top: 80px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 0px 3px 15px rgb(3, 3, 3);
    color: rgb(0, 0, 0);
    background: linear-gradient(315deg, rgb(218, 91, 40) 20%, rgb(170, 46, 46) 74%);
}
.table {
    position: relative;
    width: 700px;
    left: 5%;
    top: 15%;
    perspective: 1000px;
    
    
   
    
    
}

.cards{
    position: relative;
    cursor: pointer;
    display: inline-block;
   padding: 10px;
border-radius: 50%;
width: 150px;
height: 150px;
transform: scale(1);
transform-style: preserve-3d;
transition: .9s;
transform: .9s;



}
.cards:active{
    transform: scale(0.95);
    transition: .3s;
    transform: .3s;
    
    
}

.cardBack {
    position: absolute;
    right: 30px;
    width: 150px;
    bottom: 15px;
    backface-visibility: hidden;
    
}


.cardFront {
    position: absolute;
    width: 50%;
    border-radius: 30px;
    transform: rotateY(180deg);

}


.cards.flip {
    transform: rotateY(180deg);
}